@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: theme('colors.primary');
  color: theme('colors.secondary');
}

.light body {
  background-color: theme('colors.secondary');
  color: theme('colors.primary');
}
