@tailwind base;
@tailwind components;
@tailwind utilities;


.light {
  --bg-color: theme(colors.secondary);
  --text-color: theme(colors.primary);
}

.dark {
  --bg-color: theme(colors.primary);
  --text-color: theme(colors.secondary);
}


html {
  background-color: var(--bg-color);
  color: var(--text-color);
}
